@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-header {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.14px;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

body {
}
